<p style="color: green"><%= notice %></p>

<%= render @saison %>

<div>
    <%= link_to "", edit_saison_path(@saison), class:"fa-regular fa-pen-to-square btn btn-primary" %> |
    <%= link_to "", saisons_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary" %> 

    <br/> <hr/>
    <%= button_to "", @saison, class:"fa-solid fa-trash-can btn btn-danger", method: :delete %>
</div>
